<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.learn.mapper.ItemMapper">
  <resultMap id="BaseResultMap" type="com.example.learn.entity.Item">
    <!--@mbg.generated-->
    <!--@Table item-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_stock" jdbcType="INTEGER" property="itemStock" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, item_name, item_stock
  </sql>
</mapper>